<mat-tab-group dynamicHeight>
  <mat-tab label="Vista por encuestadores">
    <div class="container mt-4">
      <div class="row">
        <div class="col-4" *ngFor="let user of users">
          <div class="user-card mat-elevation-z4" (click)="openSurveyDetails(user)">
            <div class="user-info">
              <div class="user-name">{{ user.firstName }}</div>
              <div class="user-surveys">{{ user.surveys.length }} Encuestas</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Todas las encuestas">
    
    <div class="container mt-4">
      <mat-form-field appearance="standard"><mat-label>Filter</mat-label>
        <input class="filter-container" matInput placeholder="email ..." [(ngModel)]="filterText" (ngModelChange)="applyFilter()" /></mat-form-field>
      <div class="row">
        <div class="col-4" *ngFor="let survey of paginatedSurveyList">
          <div class="survey-card mat-elevation-z4">
            <div class="survey-info">
              <div class="item-label">Email:</div>
              <div class="item-value">{{ survey.email }}</div>
            </div>
            <div class="survey-info">
              <div class="item-label">Fecha de Creación:</div>
              <div class="item-value">{{ survey.createdAt | date }}</div>
            </div>
            <div class="survey-info">
              <div class="item-label">ID del Encuestador:</div>
              <div class="item-value">{{ survey.surveyorId }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
  </mat-tab>
</mat-tab-group>
