<div class="container">
  <div class="row">
    
    <div class="col-6">
      <h4 class="text-center">
        ¿Se considera a Mina Clavero como un destino completo?
      </h4>
      <ngx-charts-pie-chart
        [view]="[300, 200]"
        [scheme]="colorScheme"
        [results]="destinoCompletoData"
        [labels]="true"
        [doughnut]="true"
        (select)="onSelect($event)"
      ></ngx-charts-pie-chart>
    </div>
    
    
      
    <div class="col-6">
      <h4 class="text-center">¿Los turistas recomendarían Mina Clavero como destino turístico?</h4>
      <ngx-charts-pie-chart
        [view]="[300, 200]"
        [scheme]="colorScheme"
        [results]="recomendariaData"
        [labels]="true"
        [doughnut]="true"
        (select)="onSelect($event)"
      ></ngx-charts-pie-chart>
    </div>
  </div>
</div>
