

/*.toolbar{
  background-color: #245683;
}*/

  .example-icon {
    color: #FEA31C;
  }

  .example-button {
    color: rgb(252, 250, 250); 
    transition: color 0.3s; 
    cursor: pointer; 
    transform: scale(1.1);
  }
  
  .example-button:hover {
    color: #FEA31C; 
  }

  .toolbar.barra-fija {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: #245683;
    z-index: 1000; /* Asegura que esté en la parte superior de otros elementos */
    /* Otros estilos según tus preferencias */
  }
  
  .active {
    background-color: #007bff; 
    color: #fff; 
  }

  .example-button {
    margin-right: 10px; 
  }